{{ extend 'layout.html' }}

<h1>
    Student Mangement Console
</h1>

<p>
    Manage student accounts and enrollment
</p>

<ul>
	<li><a href="{{=URL('media','index')}}">Media Files</a> - View or manage media files</li>
    <li><a href="{{=URL('student','index')}}">Student Resources</a> - Change your password</li>
    <li><a href="{{=URL('faculty','index')}}">Faculty Resources</a> - Manage student accounts</li>
    <li><a href="{{=URL('import','index')}}">Import</a> - Import student and faculty accounts from a spreadsheet</li>
    <li><a href="{{=URL('admin','index')}}">Admin Resources</a> - Configure app settings and integration</li>
</ul>
