*.bak
*.pyc
.DS_Store
._.DS_Store
progress.log
sessions/
databases/
cache/
errors/
private/
static/media/
/.idea
uploads/
/web2py/parameters_8000.py
/web2py/httpserver.log
/web2py/httpserver.pid
/web2py/parameters_443.py
/web2py/parameters_80.py
/web2py/applications/smc/static/media/
/web2py/applications/smc/static/documents/
/kill_smc.bat
/web2py/web2py_src_downloaded.zip
/tmp.txt
/web2py/deposit
/.vscode
env/
smc.code-workspace
env
/*.code-workspace
