{{extend 'layout.html'}}

<a href="{{=URL('media','index')}}" style="font-size: 10px; ">&lt;-- Back to media library</a>

<h1>{{=title}}</h1>

<link rel="stylesheet" href="{{= URL('static', 'video-js') }}/video-js.css" type="text/css" media="screen">
<script type="text/javascript" src="{{= URL('static', 'video-js') }}/video-js-ie8.min.js"></script>

<!-- jQuery('.video-js').bind('contextmenu',function() { return false; });  -->
<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="{{=width}}"
    height="{{=height}}"
    poster="{{=poster}}"
	data-setup="{}"
  autoplay="{{=autoplay}}"
  oncontextmenu="return false;"
  >
    <source src="{{= source_mp4 }}" type="video/mp4" />
	<!--source src="MY_VIDEO.webm" type="video/webm" / -->
	{{=XML(subtitles_html)}}
	<!--track kind="captions" src="source_en_subtitles"" srclang="en" label="English" default-->
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>





<b>Tags:</b> {{=tags}}  <br />
<b>Description:</b> {{=description}}  <br />
<b>Views:</b> {{=views}} <br />
<b>Category:</b> {{=category}} <br />
<b>YouTube URL:</b> {{=youtube_url}} <br />
<b>Embed This Movie (Minimal Player - Recommended): </b>
<div class='well'>
	&lt;iframe width="{{=iframe_width}}" height="{{=iframe_height}}" src="{{=URL('media', 'player.load'+"/"+movie_id, host=True)}}" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
</div>

<b>Embed This Movie w auto play (Minimal Player - NOTE: Not all browsers support autoplay): </b>
<div class='well'>
	&lt;iframe width="{{=iframe_width}}" height="{{=iframe_height}}" src="{{=URL('media', 'player.load'+"/"+movie_id, host=True)}}?autoplay=true" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
</div>

<b>Link to This Movie (Minimal - Recommended): </b>
<div class='well'>
	{{=URL('media', 'player.load'+"/"+movie_id, host=True)}}
</div>

<b>Link to This Movie w autoplay (Minimal - NOTE: Not all browsers support autoplay): </b>
<div class='well'>
	{{=URL('media', 'player.load'+"/"+movie_id, host=True)}}?autoplay=true
</div>

<b>Link to This Movie (Player with Details): </b>
<div class='well'>
	{{=URL('media', 'player'+"/"+movie_id, host=True)}}
</div>

<b>Embed This Movie (Player With Details): </b>
<div class='well'>
	&lt;iframe width="{{=iframe_width}}" height="{{=iframe_height}}" src="{{=URL('media', 'player'+"/"+movie_id, host=True)}}" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
</div>

<!--b>Download Raw Video Files: </b>
<div class='well'>
	<p><a href="{{ = URL('media', 'dl_media/'+movie_id+'/mp4' ) }}">MP4 File</a></p>
	<p><a href="{{ = URL('media', 'dl_media/'+movie_id+'/mobile.mp4' ) }}">Tablet File</a></p>
</div-->

<script type="text/javascript" src="{{= URL('static', 'video-js') }}/video.js"></script>