{{extend 'layout.html'}}

<script>
$(function() {
		GetProcessQueue();
		window.setInterval(function() {GetProcessQueue();}, 15000);
    });
	
	function GetProcessQueue() {
		web2py_component('{{=URL('media', 'process_queue.load')}}',
                         target='process_queue_view');
		
	}
</script>

<h1>Upload a Media File</h1>
<p>
	Media files will be added to the process queue and converted to an internet and mobile friendly format. You can add Movie AND audio files here.
</p>
<p>
	It may take several minutes to an hour for media files to process. Larger files will take longer. When they finish they will dissapear from the processing queue below and show up in the media library.
</p>
<p>
    To pull videos strait from YouTube, use the <a href="{{=URL('media', 'pull_from_youtube')}}">Offline Conversion -> Pull From YouTube</a> tool.
</p>
{{ =form }}

<hr />
<h4>
	Media Conversion Process Queue
</h4>
<div id="process_queue" class='well'>
	<p>
		<b>NOTE: </b> Large media files can take a few hours to process. You can use the retry link to make the system try again if a media file gets stuck in the queue.
	</p>
	<div id="process_queue_view">
		<img src="{{=URL('static', 'images/progress.gif') }}" />
	</div>
	<!--LOAD('media', 'process_queue.load',content=DIV(IMG(_src=URL('static', 'images/progress.gif'), _alt='Loading...', _style='float: left;'), P('Getting Process Queue')), ajax=True) -->
</div>
<hr />
<h4>Scan Media Files</h4>
<p>
    Start a process that will check for media files that aren't in the database. Useful if you uploaded a batch of movies from another SMC Server.
</p>
<a href="{{=URL('media', 'scan_media_files')}}">Scan Media Files Tool</a>
