{{extend 'layout.html'}}

<a href="#" onclick="window.location='{{=URL('media', 'documents')}}'" style="font-size: 10px; ">&lt;-- Back to document library</a>

<br /><br />

<h1>{{=title}}</h1>

{{if can_preview is True:}}
<iframe src="{{=URL('static', 'ViewerJS/index.html', host=True) + "#" + source_doc }}"
        width="{{=iframe_width}}"
        height="{{=iframe_height}}" allowfullscreen="allowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen"></iframe>
{{elif is_image is True:}}
<img src="{{=source_doc}}" />
{{else:}}
{{=dl_link}}
{{pass}}
<br />
<b>Tags:</b> {{=tags}}  <br />
<b>Description:</b> {{=description}}  <br />
<b>Views:</b> {{=views}} <br />

{{if can_preview is True:}}
<b>Embed document with preview (preview works only with these formats - PDF, ODT, FODT, OTT, ODP, FODP, OTP, ODS, FODS, OTS): </b>

<div class='well'>
    &lt;iframe src="{{=URL('static', 'ViewerJS/index.html', host=True) + "#" + source_doc }}"
        width="{{=iframe_width}}"
        height="{{=iframe_height}}" allowfullscreen="allowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen"&gt;&lt;/iframe&gt;
</div>
{{pass}}

<b>Download Link: </b>
<div class='well'>
	{{=URL('media', 'dl_document', args=[document_id], host=True)}}
</div>

<script type="text/javascript">
    $(document).ready(function() {

    });
    </script>


<!--
        application/vnd.oasis.opendocument.text application/vnd.oasis.opendocument.text-flat-xml application/vnd.oasis.opendocument.text-template application/vnd.oasis.opendocument.presentation application/vnd.oasis.opendocument.presentation-flat-xml application/vnd.oasis.opendocument.presentation-template application/vnd.oasis.opendocument.spreadsheet application/vnd.oasis.opendocument.spreadsheet-flat-xml application/vnd.oasis.opendocument.spreadsheet-template".split(" "),
b="odt fodt ott odp fodp otp ods fods ots
        application/pdf pdf

-->