{{extend 'layout.html'}}
<div>
	<a style="font-size: 10px;" href="{{=session.back }}">&lt;-- Back</a>
</div>

<h1>Change Student Password - {{=current_user }}</h1>

<div class="well">
	<h4>
		Reset to default password
	</h4>
	<p>
		This will use the default password created during import. The default password is calculated from the password pattern in the config settings.
	</p>
	{{= default_pw_form }}
</div>
<div class="well">
	<h4>
		Enter new password
	</h4>
	{{= custom_pw_form }}
</div>
