{{extend 'layout.html'}}

<div>
	<a style="font-size: 10px;" href="{{=URL('admin','config')}}">&lt;-- Back</a>
</div>

<h1>Change OPE Laptop Admin Settings</h1>

<div>
    <div style="float: left; width: 600px; overflow: initial;">
        {{=form}}
    </div>
    <div class="well" style="float: left; width: 400px; ">
        <h3>
            Help
        </h3>
		<p>
			Configure admin settings for OPE Laptop - this will make sure that an admin account exists on the
            laptop with the specified name and password when you credential the laptop. Make sure you use a different
            admin password than you use on your main network.
		</p>
		<div>
			<b>Laptop Admin user: </b> The admin user account to setup on the OPE laptop
		</div>
		<div>
			<b>Laptop Admin Password: </b> The password to use for the admin account<br />
            <strong style="color: #ff0000">(DO NOT USE YOUR DOMAIN ADMIN PASSWORD!!! CHOOSE AN ALTERNATE PASSWORD!!!)</strong>
		</div>
		<div>
			<b>Laptop Network Type:</b> Choose standalone if using the laptops in a standalone very secure environment with no domain controller. 
			Use Domain Member if domain group policy should address most of the security settings.
		</div>
		<div>
			<b>Laptop Domain Name:</b> The full domain name that the laptop should be joined to (ignored if using Standalone mode)- <strong style="color:#ff0000">laptop should be a member already before credentialing.</strong>
		</div>
		<div>
			<b>Laptop Domain OU:</b> The path to the Organizational Unit this laptop should be in when joined to the domain (ignored if using Standalone mode).
		</div>

	</div>
</div>

